:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

/*   color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(204, 203, 203); */
  background-image:url("./assets/fondo.jpg");
  background-size: cover;
  background-image: no-repeat;
  
}
body{
  margin: 0px;
}

.barra-navegacion {

  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav{
  display: flex;
  background-color: #19758C;
  flex-direction: row;
}
.boton{
  margin-right: 50px;
  margin-top: 10px;
}
.boton a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #19758C;
  transition: background-color 0.3s ease;
} 


img { 
  max-width: 70%; 
  height: 60%; 
  margin-left: 60px;

}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.5em;
  color: #000000;
}

.panel-control{
  height: 87vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.panel{
  display: flex;
  flex-direction: column;
  height: 87vh ;
  justify-content: space-around;
  
}

.panel-entrada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  padding: 40px;
  background: #F8F9FD;
  background-color: rgb(204, 203, 203);  border-radius: 5%;
  color: #000000;
  opacity: 0.9;
  flex-wrap: wrap;
}

.panel-salida{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  padding: 40px;
  background-color: rgb(204, 203, 203);  border-radius: 5%;
  color: #000000;
  opacity: 0.9;
  flex-wrap: wrap;
}
.salida{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel-pago{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  padding: 15px;
  background-color: rgb(204, 203, 203);  border-radius: 5%;
  color: #000000;
  opacity: 0.9;
  flex-wrap: wrap;
}

.panel-pago input{
  width: 90%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    text-align: center;
  cursor: not-allowed;
  text-transform: uppercase;
}

.panel-pago input:focus{
  outline: none;
  border: none;
}

.panel-salida input{
  width: 90%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    text-align: center;
    text-transform: uppercase;
}


.panel-entrada input{
  width: 90%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    text-align: center;
    text-transform: uppercase;
}
.panel-entrada select {
  width: 90%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
  appearance: none; /* Elimina el estilo predeterminado del navegador para el select */
}



.panel-entrada select{
  width: 80%;
  text-align: center;
}

.panel-datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  padding: 40px;
  background-color: rgb(204, 203, 203);  border-radius: 5%;
  color: #000000;
  opacity: 0.9;
  flex-wrap: wrap;
}

.panel-datos table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.panel-datos th, .panel-datos td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.panel-datos th {
  background-color: #000000;
  color: white;
}

.panel-datos tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .panel-control {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra los elementos */
  }
  .panel-entrada,
  .panel-salida,
  .panel-pago {
    width: 90%; /* Los cuadros ocupan casi todo el ancho */
  }
}


